.form {
  padding: 16px
}
.form-field + .form-field{
  margin-top: 16px;
}

.label {
  margin-bottom: 8px;
}
.input {
  min-height: 32px;
  border: 1px dotted magenta;
  padding: 0 8px;
}
.button {
  min-height: 32px;
  border: 1px dotted magenta;
  background-color: purple;
  color: white;
  padding: 0 8px;
}

